%h1 There are no mindful events scheduled today

%section.mindful_event.not_started
  %header
    %h2 Not Started
    %ul
      - @mindful_events.not_started do |mindful_event|
        %li.mindful_event=mindful_event.location
%section.mindful_event.in_session
  %header
    %h2 In Session
    %ul
      - @mindful_events.in_session do |mindful_event|
        %li.mindful_event=mindful_event.location
        
