There are no mindful events scheduled today

%section.mindful_event.not_started
  %header
    %h2 Not Started
    %ul
      %li.mindful_event Santa Cruz
      %li.mindful_event San Jose
      %li.mindful_event Santa Ana
%section.mindful_event.in_session
  %header
    %h2 In Session
    %ul
      %li.mindful_event Santa Maria
        
